<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改员工</title>
    <link href="/css/bootstrap-4.6.1.min.css" rel="stylesheet"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap-4.6.1.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <form action="#" method="POST">

        <div class="input-group my-2">
            <div class="input-group-append">
                <div class="input-group-text">员工编号：</div>
            </div>
            <input type="text" name="admin_id" class="form-control" readonly
                />
        </div>

        <div class="input-group my-2">
            <div class="input-group-append">
                <div class="input-group-text">账户名称：</div>
            </div>
            <input type="text" name="admin_name" class="form-control" placeholder="请输入账户名称"
                   />
        </div>
        <div class="my-2 px-3 info-name">

        </div>
        <div class="input-group my-2">
            <div class="input-group-append">
                <div class="input-group-text">员工姓名：</div>
            </div>
            <input type="text" name="admin_nickname" class="form-control" placeholder="请输入员工姓名"
                   />
        </div>
        <div class="input-group my-2">
            <div class="input-group-prepend">
                <div class="input-group-text">员工角色：</div>
            </div>
            <div class="input-group-append">
                <button type="button" class="btn btn-success btn-role-add"> + </button>
            </div>
        </div>
        <div class="my-2 row role-group">
            <div class="col-4 role my-2">
                <div class="input-group">
                    <select class="form-control select-role">
                        <option value="value"
                                text="text"></option>
                    </select>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-danger btn-role-dis"> - </button>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary"> 保存设置 </button>
    </form>
</div>

<script>
        $(document).ready(()=>{

            // 重新排列 角色下拉列表的 name
            function refresh(){
                // 循环 每一个 角色
                $(".role").each( function( index , dom ){
                    $(this).find(".select-role").prop( "name" , "roleList["+ index +"].role_id" )
                } )
            }

            // 删除角色
            $(".btn-role-dis").click(function(){
                // 判断是否只剩下最后一个角色
                if( $(".role").length > 1 ){
                    // 剩下不止一个角色 可以删除角色
                    $(this).parents(".role").remove()
                    // 重新排列角色下拉列表的name
                    refresh()
                }
            })
            // 添加角色
            $(".btn-role-add").click(function(){
                // 克隆 一份 角色
                let clone = $(".role").last().clone(true)
                // 将 克隆的 角色 追加到 角色列表
                clone.appendTo( $(".role-group") )
                // 重新排列角色下拉列表的name
                refresh()
            })

            /* 账户名称 验证
            $("input[name='admin_name']").change(function(){
                $.ajax({
                    url : "/admin/validName",
                    type : "GET",
                    data : { admin_name : $(this).val() },
                    success : function(data){
                        if( data == "true" ){
                            $(".info-name").html( "<font color='red'> 该账户名称已被使用！请重新填写！ </font>" )
                        }else if( data == "false" ){
                            $(".info-name").html( "<font color='green'> 该账户名称可以使用！ </font>" )
                        }
                    }
                })
            })*/
        })
    </script>

</body>
</html>