<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>分类管理</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <link th:href="@{/css/bootstrap-4.6.1.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<!--  筛选面板  -->
<form th:action="@{/category/admin}" method="POST" name="form1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 my-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">分类编号：</div>
                    </div>
                    <input type="text" class="form-control" placeholder="分类编号"
                           name="cate_id" th:value="${categorySearchBo.cate_id}"/>
                </div>
            </div>
            <div class="col-4 my-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">分类名称：</div>
                    </div>
                    <input type="text" class="form-control" placeholder="分类名称"
                           name="cate_name" th:value="${categorySearchBo.cate_name}"/>
                </div>
            </div>
            <div class="col-4 my-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">父级分类：</div>
                    </div>
                    <select class="form-control" name="cate_parentid">
                        <option value="">--所有分类--</option>
                        <!-- 施加each数据遍历-->
                        <option th:each="category:${categoryAll}"
                                th:text="${category.cate_name}"
                                th:value="${category.cate_id}"
                                th:selected="${categorySearchBo.cate_parentid}==${category.cate_id}"></option>
                    </select>
                </div>
            </div>
            <div class="col-4 my-2">
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary"> 查 询 </button>
                    <a th:href="@{/category/add}" class="btn btn-success"> 添加分类 </a>
                    <button type="button" class="btn btn-danger btn-multi-delete"> 批量删除 </button>
                </div>
                <input type="hidden" name="page" th:value="${pageBo.page}"/>
                <input type="hidden" name="pageSize"  th:value="${pageBo.pageSize}"/>
                <input type="hidden" class="pageCount"  th:value="${pageBo.pageCount}"/>
            </div>

        </div>
    </div>
</form>
<!--  /筛选面板  -->

<!--  数据表格  -->
<div class="container-fluid my-3">
    <form th:action="@{/category/delete}" method="POST" name="form2">
        <table class="table table-sm table-bordered table-striped cbx-group">
            <thead>
            <tr>
                <th> <input type="checkbox" class="cbx-all"/> </th>
                <th> 分类编号 </th>
                <th> 分类名称 </th>
                <th> 分类排序 </th>
                <th> 父级分类 </th>
                <th> 创建时间 </th>
                <th> 更新时间 </th>
                <th> 操作选项 </th>
            </tr>
            </thead>
            <tbody>

            <!-- 要遍历的html 开始 -->
            <tr th:each="cate:${categoryList}">
                <td> <input type="checkbox" name="id_list" th:value="${cate.cate_id}"/> </td>
                <td th:text="${cate.cate_id}"> 分类编号 </td>
                <td th:text="${cate.cate_name}"> 分类名称 </td>
                <td th:text="${cate.cate_sort}"> 分类排序 </td>

                <!-- 需要进一步，得到这条分类的父级分类名称-->
                <td th:text="${cate.parent==null?'':cate.parent.cate_name}"> 父级分类 </td>
                <td  th:text="${ #dates.format(cate.createtime,'yyyy-MM-dd')}"> 创建时间 </td>
                <td  th:text="${ #dates.format(cate.updatetime,'yyyy-MM-dd')}"> 更新时间 </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a th:href="@{/category/update?cate_id=}+${cate.cate_id}" class="btn btn-warning">编辑</a>
                        <a th:href="@{/category/delete?cate_id=}+${cate.cate_id}" class="btn btn-danger link-delete">删除</a>
                    </div>
                </td>
            </tr>
            <!-- 要遍历的html 结束 -->

            </tbody>
        </table>
    </form>
</div>
<!--  /数据表格  -->

<!--  分页控件  -->
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-6">
            <div class="btn-group">
                <button class="btn btn-primary btn-first" th:disabled="${pageBo.page}==1">首页</button>
                <button class="btn btn-primary btn-prev" th:disabled="${pageBo.page}==1">上一页</button>
                <button class="btn btn-primary btn-next" th:disabled="${pageBo.page}==${pageBo.pageCount}">下一页</button>
                <button class="btn btn-primary btn-last" th:disabled="${pageBo.page}==${pageBo.pageCount}">末页</button>
            </div>
            <button class="btn btn-light btn-number" style="display:none;">1</button>
            <button class="btn btn-light btn-more" style="display:none;">...</button>
        </div>
        <div class="col-3">
            <div class="input-group">
                <input type="text" class="form-control input-page-jump"  th:value="${pageBo.page}"/>
                <div class="input-group-append">
                    <div class="input-group-text"> / <span th:text="${pageBo.pageCount}"></span> 页 </div>
                </div>
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary btn-jump"> Go </button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <select class="form-control select-page-size">
                <option value="10" th:selected="${pageBo.pageSize}==10"> 每页显示10条记录 </option>
                <option value="20" th:selected="${pageBo.pageSize}==20"> 每页显示20条记录 </option>
                <option value="30" th:selected="${pageBo.pageSize}==30"> 每页显示30条记录 </option>
                <option value="50" th:selected="${pageBo.pageSize}==50"> 每页显示50条记录 </option>
            </select>
        </div>
    </div>
</div>
<!--  /分页控件  -->
<div style="height:100px;"></div>

<script>
    $(document).ready(()=>{

        ////////////////////////////////////////////////////////////////////////
        // 单选删除
        $(".link-delete").click(function(){
            //弹出确认框
            if(confirm("您确认要删除吗？")==true){
                //点击确认->不做任何处理，继续href的属性事件
            }else{
                //点击取消->阻止默认事件传播，超链接a标记的href属性就不生效了
                event.preventDefault()
            }
        })

        // 批量删除
        $(".btn-multi-delete").click(function(){
            //判断至少选中1项
            if($("input[name='id_list']:checked").length==0){
                alert("至少需要选中1项")
                return
            }

            //弹出确认框
            if(confirm("您确认要删除吗？")==true){
                //点击确认->不做任何处理，提交表单
                form2.submit()
            }else{
                //点击取消->return 退出函数即可
                return
            }
        })

        ////////////////////////////////////////////////////////////////////////
        // 分页的公共效果
        // 加载数字页码控件
        let page = parseInt( $("input[name='page']").val() )
        let pageCount = parseInt( $(".pageCount").val() )

        // 判断 当前页 是否是 前4页
        if( page <= 4 ){
            for( let i = 1 ; i <= (pageCount<7?pageCount:7) ; i++ ){
                // 克隆 数字页码 控件
                let clone = $(".btn-number").last().clone(true)

                // 更改 数字页码
                clone.text( i )

                // 判断 当前循环到的数字页码 是否就是 当前页
                if( i ==  page ){
                    clone.removeClass("btn-light")
                    clone.addClass("btn-primary")
                }

                // 将 克隆的 数字页码 控件 追加到 【下一页】的前面
                clone.insertBefore( $(".btn-next") )

                // 将 克隆的 数字页码 控件 显示出来
                clone.show()
            }
            // 追加 【...】按钮
            let rightmore = $(".btn-more").last().clone(true)
            rightmore.insertBefore( $(".btn-next") )
            rightmore.show()
        }
        // 判断 当前页 是否是 后4页
        else if( page >= pageCount - 3 ){
            // 追加 【...】按钮
            let leftmore = $(".btn-more").last().clone(true)
            leftmore.insertBefore( $(".btn-next") )
            leftmore.show()
            for( let i = pageCount-6 ; i <= pageCount ; i++ ){
                // 克隆 数字页码 控件
                let clone = $(".btn-number").last().clone(true)

                // 更改 数字页码
                clone.text( i )

                // 判断 当前循环到的数字页码 是否就是 当前页
                if( i ==  page ){
                    clone.removeClass("btn-light")
                    clone.addClass("btn-primary")
                }

                // 将 克隆的 数字页码 控件 追加到 【下一页】的前面
                clone.insertBefore( $(".btn-next") )

                // 将 克隆的 数字页码 控件 显示出来
                clone.show()
            }
        }
        // 当前页 在 中间页
        else{
            // 追加 【...】按钮
            let leftmore = $(".btn-more").last().clone(true)
            leftmore.insertBefore( $(".btn-next") )
            leftmore.show()
            for( let i = page - 3 ; i <= page + 3 ; i++ ){
                // 克隆 数字页码 控件
                let clone = $(".btn-number").last().clone(true)

                // 更改 数字页码
                clone.text( i )

                // 判断 当前循环到的数字页码 是否就是 当前页
                if( i ==  page ){
                    clone.removeClass("btn-light")
                    clone.addClass("btn-primary")
                }

                // 将 克隆的 数字页码 控件 追加到 【下一页】的前面
                clone.insertBefore( $(".btn-next") )

                // 将 克隆的 数字页码 控件 显示出来
                clone.show()
            }
            // 追加 【...】按钮
            let rightmore = $(".btn-more").last().clone(true)
            rightmore.insertBefore( $(".btn-next") )
            rightmore.show()
        }

        // 给数字页码控件 注册点击事件
        $(".btn-number").click(function(){
             $("input[name='page']").val( $(this).text() )
             form1.submit()
        })

        // 【首页】
        $(".btn-first").click(function(){
            $("input[name='page']").val(1)
            form1.submit()
        })
        // 【上一页】
        $(".btn-prev").click(function(){
            $("input[name='page']").val( parseInt( $("input[name='page']").val() ) - 1 )
            form1.submit()
        })
        // 【下一页】
        $(".btn-next").click(function(){
            $("input[name='page']").val( parseInt( $("input[name='page']").val() ) + 1 )
            form1.submit()
        })
        // 【末页】
        $(".btn-last").click(function(){
            $("input[name='page']").val( $(".pageCount").val() )
            form1.submit()
        })
        // 修改每页显示记录数
        $(".select-page-size").change(function(){
            $("input[name='pageSize']").val( $(this).val() )
            form1.submit()
        })
        // 立即跳转
        $(".btn-jump").click(function(){
            $("input[name='page']").val( $(".input-page-jump").val() )
            form1.submit()
        })
        ////////////////////////////////////////////////////////////////////////
    })
    </script>

</body>
</html>