<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改分类</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <link th:href="@{/css/bootstrap-4.6.1.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <form th:action="@{/category/alter}" method="POST">
        <div class="input-group my-2">
            <div class="input-group-append">
                <div class="input-group-text">分类编号：</div>
            </div>
            <input type="text" class="form-control" placeholder="请输入分类编号" readonly
                   name="cate_id" th:value="${category.cate_id}"/>
        </div>
        <div class="input-group my-2">
            <div class="input-group-append">
                <div class="input-group-text">分类名称：</div>
            </div>
            <input type="text" class="form-control" placeholder="请输入分类名称"
                   name="cate_name"  th:value="${category.cate_name}"/>
        </div>
        <div class="input-group my-2">
            <div class="input-group-append">
                <div class="input-group-text">分类排序：</div>
            </div>
            <input type="text" class="form-control" placeholder="请输入分类排序"
                  name="cate_sort"  th:value="${category.cate_sort}"/>
        </div>
        <div class="input-group my-2">
            <div class="input-group-append">
                <div class="input-group-text">父级分类：</div>
            </div>
            <select class="form-control" name="cate_parentid">
                <option value="">顶级分类</option>
                <option th:each="cate:${categoryAll}"
                        th:text="${cate.cate_name}"
                        th:value="${cate.cate_id}"
                        th:selected="${cate.cate_id}==${category.cate_parentid}">父级分类</option>

            </select>
        </div>

        <!-- 商品品牌 区域 -->
        <div class="input-group my-2">
            <div class="input-group-prepend">
                <div class="input-group-text">商品品牌：</div>
            </div>
            <div class="input-group-append">
                <button type="button" class="btn btn-success btn-brand-add"> + </button>
            </div>
        </div>
        <div class="my-2 row brand-group">
            <div class="col-3 brand my-2" th:each="cate_brand,cate_brand_state:${category.brandList}">
                <div class="input-group">
                    <select class="form-control brand-control"
                            th:name="'brandList['+${cate_brand_state.index}+'].brand_id'">
                        <option th:each="brand:${brandAll}"
                                th:text="${brand.brand_name}"
                                th:value="${brand.brand_id}"
                                th:selected="${cate_brand.brand_id}==${brand.brand_id}">品牌名称</option>
                    </select>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-danger btn-brand-dis"> - </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 筛选属性键 区域 -->
        <div class="input-group my-2">
            <div class="input-group-prepend">
                <div class="input-group-text">商品属性：</div>
            </div>
            <div class="input-group-append">
                <button type="button" class="btn btn-success btn-attr-add"> + </button>
            </div>
        </div>
        <!-- attr-group 一套筛选属性键的select会被添加到这里 -->
        <div class="my-2 row attr-group">

            <div class="col-3 attr my-2"  th:each="cate_attr,cate_attr_state:${category.spuAttrKeyList}">
                <div class="input-group">
                    <select class="form-control attr-control"
                            th:name="'spuAttrKeyList['+${cate_attr_state.index}+'].key_id'">

                        <option th:each="attr:${spuAttrKeyAll}"
                                th:text="${attr.key_name}"
                                th:value="${attr.key_id}"
                                th:selected="${cate_attr.key_id}==${attr.key_id}">筛选属性键名称</option>
                    </select>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-danger btn-attr-dis"> - </button>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary"> 保存设置 </button>
    </form>
</div>

<script>
$(document).ready(()=>{

    // 重排 品牌 name
    function reloadBrandName(){
        $(".brand-control").each(function(index,dom){
            $(this).prop("name","brandList["+index+"].brand_id")
        })
    }

    // 添加品牌
    $(".btn-brand-add").click(function(){
        // 克隆 一份 品牌

        let clone = $(".brand").last().clone(true)
        // 将 克隆的 品牌 追加到 品牌列表
        clone.appendTo( $(".brand-group") )
        // 重新排列品牌下拉列表的name
        reloadBrandName()
    })

    // 删除品牌
    $(".btn-brand-dis").click(function(){
        // 判断是否只剩下最后一个品牌（如果只剩最后1个select，是不让删除的）
        if( $(".brand").length > 1 ){
            // 剩下不止一个品牌 可以删除品牌
            $(this).parents(".brand").remove()
            // 重新排列角色下拉列表的name
            reloadBrandName()
        }else{
            console.log("只剩最后一个select品牌了，不要删除了")
        }
    })

    // 重排 筛选属性键 name
    function reloadAttrName(){
        $(".attr-control").each(function(index,dom){
            $(this).prop("name","spuAttrKeyList["+index+"].key_id")
        })
    }

    // +添加筛选属性键
    $(".btn-attr-add").click(function(){
        // 克隆 一份 筛选属性键

        let clone = $(".attr").last().clone(true)
        // 将 克隆的 筛选属性键 追加到 筛选属性键列表
        clone.appendTo( $(".attr-group") )
        // 重新排列筛选属性键下拉列表的name
        reloadAttrName()
    })

    // -删除筛选属性键
    $(".btn-attr-dis").click(function(){
        // 判断是否只剩下最后一个筛选属性键（如果只剩最后1个select，是不让删除的）
        if( $(".attr").length > 1 ){
            // 剩下不止一个筛选属性键 可以删除筛选属性键
            $(this).parents(".attr").remove()
            // 重新排列角色下拉列表的name
            reloadAttrName()
        }else{
            console.log("只剩最后一个select筛选属性键了，不要删除了")
        }
    })

    //reloadBrandName()//触发重排控件name
    //reloadAttrName()//触发重排控件name
})


</script>

</body>
</html>